# Predicting Casualties from Tornado Data

## Authors: Erika Delorme, Marcela Flaherty, Riddha Tuladhar, Edwin Yeung

In [4]:
library(repr)
library(tidyverse)

# Summary

# Introduction

# Methods & Results

In [43]:
# Load data
URL <- "https://raw.githubusercontent.com/rfordatascience/tidytuesday/a9e277dd77331e9091e151bb5adb584742064b3e/data/2023/2023-05-16/tornados.csv"
tornado_data <- read.csv(URL)

head(tornado_data)

  om  yr   mo dy date       time     tz              datetime_utc         st
1 192 1950 10  1 1950-10-01 21:00:00 America/Chicago 1950-10-02T03:00:00Z OK
2 193 1950 10  9 1950-10-09 02:15:00 America/Chicago 1950-10-09T08:15:00Z NC
3 195 1950 11 20 1950-11-20 02:20:00 America/Chicago 1950-11-20T08:20:00Z KY
4 196 1950 11 20 1950-11-20 04:00:00 America/Chicago 1950-11-20T10:00:00Z KY
5 197 1950 11 20 1950-11-20 07:30:00 America/Chicago 1950-11-20T13:30:00Z MS
6 194 1950 11  4 1950-11-04 17:00:00 America/Chicago 1950-11-04T23:00:00Z PA
  stf ⋯ elon    len  wid ns sn f1  f2 f3 f4 fc
1 40  ⋯ -102.30 15.8  10 1  1   25  0 0  0  FALSE
2 37  ⋯    0.00  2.0 880 1  1   47  0 0  0  FALSE
3 21  ⋯    0.00  0.1  10 1  1  177  0 0  0  FALSE
4 21  ⋯    0.00  0.1  10 1  1  209  0 0  0  FALSE
5 28  ⋯    0.00  2.0  37 1  1  101  0 0  0  FALSE
6 42  ⋯  -75.93 15.9 100 1  1   71 11 0  0  FALSE

In [44]:
# Wrangle and clean data

# Remove irrelevant or repetitive columns, and filter for NA in magnitude
df <- tornado_data %>%
    select(-date, -tz, -stf, -sn, -f1, -f2, -f3, -f4, -fc) %>%
    filter(!is.na(mag)) 

# Change feature names to be more descriptive
names(df) <- c('ID','year','month','day','time','datetime_utc','state','mag','injuries',
               'fatalities','loss','start_lat','start_lon','end_lat','end_lon','length','width','ns')

head(df)

  ID  year month day time     datetime_utc         state mag injuries
1 192 1950 10     1  21:00:00 1950-10-02T03:00:00Z OK    1   0
2 193 1950 10     9  02:15:00 1950-10-09T08:15:00Z NC    3   3
3 195 1950 11    20  02:20:00 1950-11-20T08:20:00Z KY    2   0
4 196 1950 11    20  04:00:00 1950-11-20T10:00:00Z KY    1   0
5 197 1950 11    20  07:30:00 1950-11-20T13:30:00Z MS    1   3
6 194 1950 11     4  17:00:00 1950-11-04T23:00:00Z PA    3   1
  fatalities loss  start_lat start_lon end_lat end_lon length width ns
1 0          5e+04 36.73     -102.52   36.88   -102.30 15.8    10   1
2 0          5e+05 34.17      -78.60    0.00      0.00  2.0   880   1
3 0          5e+05 37.37      -87.20    0.00      0.00  0.1    10   1
4 0          5e+05 38.20      -84.50    0.00      0.00  0.1    10   1
5 0          5e+04 32.42      -89.13    0.00      0.00  2.0    37   1
6 0          5e+05 40.20      -76.12   40.40    -75.93 15.9   100   1

# Discussion

# References